.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 45px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
  top:50px;
  display: flex; justify-content: center;
  border-radius:5px;
  font-family:trebuchet MS;
}
.btn:hover {
opacity: 1;
background-color:gray;
}

body, html {
    height: 100%;
    margin: 0;
}

body {background-image: url("restaurant1.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.buttons{
top:120px;
padding-top:80px;
}
.box{
font-family:trebuchet MS;
color:white;
padding:100px;
background-color:black;
opacity:0.7;
text-align:center;
font-size: 40px;

}
