<!DOCTYPE html>
<html>
<head>
<style>
.po{
background-image:url("/static/or.jpg");
}
table{
margin-left:20%;
border-collapse:collapse;
}
th,td{
font-family:arial;
font-size:25px;
}
a{margin-left:20%;
}
tr:nth-child(even){background-color:#f2f2f2}
th{
background-color:#FD8B79;
}
button{
height:45px;
width:95px;
}
<script type="text/javascript">
</script>
</style>
<body class="po">
	            <table  border="collapse" id = "demo " border = 1>
                <thead>
                    <tr>
                        
                        <th>Table Number</th>
                        <th>Menu items</th>
                        <th>Quantity</th>
						<th>Order Status</th>
						<th>Order Status</th>
                    </tr>
                </thead>
                <tbody><form action = "{{url_for('orderupdate')}}" method = 'POST'>
                    {% for row in rows %}
					
                    <tr>
                        
                        <td><input type = "text" name = "tablenum" value = "{{row[0]}}" readonly></td>
                        <td><input type = "text" name = "items" value = "{{row[1]}}" readonly></td>	
                        <td><input type = "text" name = "quantity" value = "{{row[2]}}" readonly></td>
						<td><input type = "button" id = "prog" onclick="inprogress(this,'orange')" value = "In Progress"></td>
						<td><button id="ready" onclick = "ready(this,'green','{{row[1]}}')" type = "submit">Ready</td></button>
					
                    </tr>
                    {% endfor %}</form>
                </tbody>
            </table>
			<a href="{{url_for('loginverifychef')}}"><button class = "back">Go back to Main Page</button></a>
<script>

function inprogress(el,clr){
	el.style.backgroundColor=clr;
	}
function ready(elm,clrm,item){
	elm.style.backgroundColor=clrm;
	     var p=elm.parentNode.parentNode;
		 alert("this is item");
		 alert(item);
         p.parentNode.removeChild(p);
		 

	}

</script>
</body>
</html>