<html>
    <body>
        <h1>I feel lonely</h1>
    
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('connected');
            });
            socket.on('message', function(data) {
                $('h1').text(data)
            });
        </script>
    </body>
</html>