<!DOCTYPE html>
<html>
	<head>
		<title>Update Menu Item Form</title>
		<style></style>
		<link rel="stylesheet" type="text/css" href="addStyle.css">
	</head>
	
	<body>
        <h2><p class="headr">Manager Login: User Name</p>
            <span><a href="" id="logout" class="returnBtn" style="float: right"><span>Logout</span></a></span></h2>

        <form action = "{{ url_for('updMenu') }}" method = "POST">
           <h3 class="pageName">Menu Item Information</h3>
		       <p class="infoBox">
           Category(ex:"Dessert", "Appetizer" , "Entrees" ..etc )<br>
           <input type = "text" name = "cat" /></br>
           <br>
           Item Name<br>
           <input type = "text" name = "nme" /><br>
           Item Price (Enter new price)<br>
           <input type = "number" step=0.01 name = "pri" /><br>
           <input type = "submit" value = "submit" /><br>
		   </p>
        </form>
        <a href="menuoptions1.html" id="home" class="returnBtn" > <span> Cancel</span></a>
     </body>
</html>